@tailwind base;
@tailwind components;
@tailwind utilities;

/* smooth logo scroll animation */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-slide {
  animation: slide 25s linear infinite;
}
.animate-testimonial-slide {
  animation: testimonial-slide 40s linear infinite;
}
